.cell {
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 20px;
    height: 20px;
    background-color: white;
}

.alive {
    background-color: black !important;
}

.dead {
    background-color: white !important;
}

.cell:hover {
    background-color: #eee;
}
